[core]
	sshcommand = ssh -i ~/.ssh/inst-eecs-github
	editor = vim

[user]
	name = Patrick Jin
	email = pjin@berkeley.edu

[alias]
	a = add
	aa = add --all
	c = commit
	cm = commit -m
	cam = commit --all -m
	cmd = commit --amend
	st = status
	co = checkout
	cob = checkout -b
	br = branch
	l = log --oneline --decorate --color --graph
	ll = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%an]" --decorate --date=short --graph
	lfr = log --pretty=fuller
	d = diff
	dh = diff HEAD
	ds = diff --stat
	dc = diff --cached
	la = config --get-regexp ^alias
	sub = submodule

[init]
	defaultBranch = main
